{% block card-note %}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 card grid-item">
  <div class="thumbnail">
    <div class="caption">
        <h2><a href="{% url 'note_edit' post.pk %}" data-toggle="modal" data-target="#myModal">
            {{ post.title }}</a></h2>
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
              </div>
            </div>
      <p>{{ post.description }}</p>
    <div class="caption card-footer">
      <ul class="list-inline">
          <medium><a href="{% url 'note_delete' post.pk %}" >Delete</a></medium>
          <medium><a href="{% url 'note_pinned' post.pk %}" >Pin</a></medium>
          <medium><a href="{% url 'note_archived' post.pk %}" >Archive</a></medium>
          <medium><a href="{% url 'note_lable' post.pk %}" >Lable</a></medium>
          <medium><a href="{% url 'note_reminder' post.pk %}" >Reminder</a></medium>
          <medium><a href="{% url 'note_collaborate' post.pk %}" >colaborate</a></medium>
        {# <li><i class="fa fa-user"></i></li> #}
      </ul>
    </div>
  </div>
  </div>
</div>
{% endblock %}
