{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row grid">

        <div class="panel-footer">
          <div class="input-group">
            <a href="{% url 'create_note' %}" ><div id="id_textnote" class="form-control" placeholder="Take a Note.." click="myFunction">Take a note..</div></a>
            <div id="mydiv"  class="toshow">
                <h1>Create Note</h1>
                <form action="" method="post" id="ajax_create">
                   {% csrf_token %}
                   Title   :<input name="title" type="text" value="{{note.title}}" ><br>
                    Description :<input name="description" type="text" value="{{note.description}}" ><br>
                    Is Pinned <br>
                    Yes <input name="is_pinned" type="radio" value="{{note.is_pinned}}" >
                    No <input name="is_pinned" type="radio" value="{{note.is_pinned}}" >
                    Select Color: <Br>
                        <select name="color">
                            <option value="RED" {% if note.color == '' %} selected='selected' {% else %} {% endif %}>RED</option>
                            <option value="BLUE" >BLUE</option>
                            <option value="GREEN" >GREEN</option>
                        </select>
                    <input type="submit" value="submit" click="myFunction" id="create_note"/>
                </form>
            </div>
          </div>
        </div>


{% for post in object_list %}
    {% block card-note %}
        {% include "inner_htmls/card-note.html" %}
    {% endblock %}
{% endfor %}
<!-- Modal -->

</div><!-- row -->
</div> <!-- container grid -->
<style>
	.errorlist, .alert-error {
		display: none;
	}
	#success_message{
		 display: none;
	 }
</style>

{% endblock content%}

{% block script %}
<script>
$(document).ready(function(){
    $('body').on('click', '#submit_id', function() {
        console.log("helllo");
        var $form = $('#ajax_update');
        console.log("form = ",$form);
        var formdata = $form.serialize();
        console.log("formdata = ",formdata)
        $.post($form.attr('action'), formdata, function(result) {
            console.log("result = ",result);
            if(result.status){
                console.log("result.status = ",result.status);
                alert("Updated")
                location.reload()
                // $('#success_message').
                $('.alert-error').slideUp({ opacity: "hide" }, "slow")
            }else{
                console.log("in else");
                // $('#success_message').slideUp({ opacity: "hide" }, "slow")
                $('.alert-error').slideDown({ opacity: "show" }, "slow");
                $('.message-error').html(result.message);
            }
        }, 'json');
    });
});

</script>

<script>
function hello() {
    alert("Hiii")
}
$(document).ready(function(){
    $('body').on('click', '#delete_id', function() {
        var $form = $('#ajax_delete');
        var formdata = $form.serialize();
        $.post($form.attr('action'), formdata, function(result) {
            if(result.status){
                location.reload()
                $('.alert-error').slideUp({ opacity: "hide" }, "slow")
            }else{
                $('.alert-error').slideDown({ opacity: "show" }, "slow");
                $('.message-error').html(result.message);
            }
        }, 'json');
    });
});
</script>

<script>
$(document).ready(function(){
    $('#label_id').click(function() {
        var lable_val = $("#linput_id").val();
    alert(lable_val);
});
});
$(document).ready(function(){
    $('body').on('click', '#label_id', function() {
        var lable_val = $("#linput_id").val();
        var $form = $('#ajax_label');
        var formdata = $form.serialize();
        $.post($form.attr('action'), formdata, function(result) {
            if(result.status){
                $('#ldiv_id').html(lable_val);
                location.reload()
                $('.alert-error').slideUp({ opacity: "hide" }, "slow")
            }else{
                $('.alert-error').slideDown({ opacity: "show" }, "slow");
                $('.message-error').html(result.message);
            }
        }, 'json');
    });
});
</script>
<script>
      $('#datetimepicker').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss',
        language: 'pt-BR'
      });
    </script>

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>

<script>
$("#id_textnote").click(function(){
    $(".toshow").css("display" , "block");
});

function myFunction() {
    var x = document.getElementById("mydiv");
    if (x.style.display === "none") {
        x.style.display = "block";

    } else {
        x.style.display = "none";
    }
}
</script>

<script>
$(document).ready(function(){
    $('body').on('click', '#create_note', function() {
        var $form = $('#ajax_create');
        $.post($form.attr('action'), $form.serialize(),  function(result) {
            if(result.status){
                window.location.href = 'http://localhost:8000/';
                $('.alert-error').slideUp({ opacity: "hide" }, "slow")
            }
        }, 'json');
    });
});
</script>

{% endblock %}
