{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row grid">
    <form method="post" action=".">

        <div class="panel-footer">
          <div class="input-group">
            <div id="id_textnote" class="form-control" placeholder="Take a Note.." onclick="myFunction()">Take a note..</div>
            <div id="mydiv">
                <div class="title_class" style>Title</div>
                <div contenteditable="true" role="textbox" spellcheck="true" value="{{note.title}}"></div>
                <div class="take_note_class">Take a note..</div>
                <div contenteditable="true" spellcheck="true" role="textbox" aria-multiline="true" tabindex="0" value="{{note.description}}"></div>
                Is Pinned <br>
                Yes <input name="is_pinned" type="radio" value="{{note.is_pinned}}" >
                No <input name="is_pinned" type="radio" value="{{note.is_pinned}}" >
                Select Color: <Br>
                    <select name="color">
                        <option value="RED" {% if note.color == '' %} selected='selected' {% else %} {% endif %}>RED</option>
                        <option value="BLUE" >BLUE</option>
                        <option value="GREEN" >GREEN</option>
                    </select>
                    {% csrf_token %}
                <input type="submit" name ="submit" value="Done" id ="submit_id"/>
            </div>

          </div>
        </div>
    </form>
{% for post in object_list %}
    {% block card-note %}
        {% include "inner_htmls/card-note.html" %}
    {% endblock %}
{% endfor %}
<!-- Modal -->

</div><!-- row -->
</div> <!-- container grid -->
<style>
	.errorlist, .alert-error {
		display: none;
	}
	#success_message{
		 display: none;
	 }
</style>
{% endblock content%}

{% block script %}
<script>
$(document).ready(function(){
    $('body').on('click', '#submit_id', function() {
        console.log("helllo");
        var $form = $('#ajax_update');
        console.log("form = ",$form);
        var formdata = $form.serialize();
        console.log("formdata = ",formdata)
        $.post($form.attr('action'), formdata, function(result) {
            console.log("result = ",result);
            if(result.status){
                console.log("result.status = ",result.status);
                alert("Updated")
                location.reload()
                // $('#success_message').
                $('.alert-error').slideUp({ opacity: "hide" }, "slow")
            }else{
                console.log("in else");
                // $('#success_message').slideUp({ opacity: "hide" }, "slow")
                $('.alert-error').slideDown({ opacity: "show" }, "slow");
                $('.message-error').html(result.message);
            }
        }, 'json');
    });
});
</script>

<script>
function myFunction() {
    var x = document.getElementById("mydiv");
    if (x.style.display === "none") {
        x.style.display = "block";
        $("#id_textnote").hide();
    } else {
        x.style.display = "none";
        $("#id_textnote").show();
    }
}
</script>

{% endblock %}
